@model GuestBook.BLL.DTO.MessageDTO

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Новое Сообщение</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Message_text" class="control-label">Сообщение</label>
                 <textarea asp-for="Message_text" class="form-control" style="width:950px; height:100px;"></textarea>
                <span asp-validation-for="Message_text" class="text-danger"></span>
            </div> 
            <br />
            <div class="form-group">
                <input type="submit" value="Добавить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}